.connect {
  width: 100%;
  height: 100vh;
  background: $black;
  position: relative;
  margin-top: 3rem;

  .connect-banner {
    height: 100vh;
    position: absolute;
  }

  .connect-form {
    background: $black;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
    @media (max-width: $layout-breakpoint-small) {
      left: 1rem;
      width: 80%;
    }

    .form-content {
      padding-bottom: 1rem;
      padding-top: 2rem;
      .form-title {
        color: $turquoise;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 50px;
        text-transform: lowercase;
      }
      .form-text {
        text-align: center;
        color: $oxford;
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: 0.6px;
        text-transform: lowercase;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      ::-webkit-input-placeholder {
        color: $malibu;
      }

      :-moz-placeholder {
        color: $malibu;
      }

      ::-moz-placeholder {
        color: $malibu;
      }

      :-ms-input-placeholder {
        color: $malibu;
      }

      input:focus,
      textarea:focus {
        background-color: $black;
        -moz-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
        -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
        overflow: hidden;
        border-radius: 0;
      }

      .form-control-name {
        font-size: 1rem;
        font-weight: 300;
        color: $malibu;
        letter-spacing: 0.6px;
        width: 90%;
        padding: 0.5rem;
        margin-top: 6px;
        margin-bottom: 16px;
        border: none;
        background: $dark-one;
        font-family: "Poppins";
        text-transform: lowercase;
      }
      .form-control-email {
        font-size: 1rem;
        font-weight: 300;
        color: $malibu;
        letter-spacing: 0.6px;
        width: 90%;
        padding: 0.5rem;
        margin-top: 6px;
        margin-bottom: 16px;
        border: none;
        background: $dark-one;
        font-family: "Poppins";
        text-transform: lowercase;
      }
      .form-control-message {
        font-size: 1rem;
        font-weight: 300;
        color: $malibu;
        letter-spacing: 0.6px;
        width: 90%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        margin-top: 6px;
        margin-bottom: 11px;
        border: none;
        background: $dark-one;
        font-family: "Poppins";
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        display: block;
      }
      .form-control-button {
        width: 90%;
        padding: 12px;
        margin-top: 6px;
        margin-bottom: 16px;
        background: $turquoise;
        border: none;
        border-radius: 0;
        color: $black;
        font-family: "Poppins";
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 2px;
        white-space: nowrap;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
    .form-social {
      .social-content {
        .social-title {
          color: $oxford;
          font-size: 1rem;
          font-weight: 300;
          padding-bottom: 1rem;
          letter-spacing: 1px;
        }
      }
      .social-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 3rem;
        .icon {
          height: 20px;
        }
      }
    }
  }
}
