.footer {
  background-color: $black;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 0 4rem;
  position: fixed;
  @media (max-width: $layout-breakpoint-small) {
    padding: 0 1rem;
    height: 5rem;
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-title {
      color: $turquoise;
      font-size: 1rem;
      font-weight: 600;
      text-decoration: none;
    }
    .footer-text {
      color: $turquoise;
      font-weight: 400;
      font-size: 1rem;
    }
  }
  .footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .link {
      text-decoration: none;
      cursor: pointer;

      .icon {
        height: 20px;
      }
    }
  }
}
