.hero {
  background: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;

  @media (max-width: $layout-breakpoint-small) {
  }

  .hero-banner {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .banner {
    position: relative;
  }

  .hero-inner {
    margin-top: 5rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    background-color: $black;
    // box-shadow: 2px 2px 13px 4px rgba(0, 0, 34, 0.34);

    @media (max-width: $layout-breakpoint-small) {
      margin: 1rem;
      padding: 1rem;
    }

    .hero-message {
      color: $oxford;
      font-size: 2.4rem;
      font-weight: 300;
      letter-spacing: 0.2px;
      white-space: nowrap;
      line-height: 100px;
      @media (max-width: $layout-breakpoint-small) {
        line-height: 80px;
        font-size: 2rem;
      }
    }

    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .hero-title {
        margin: 0.5rem 0;
        display: flex;
        flex-direction: row;
        line-height: 108px;
        font-size: 8rem;
        font-weight: 600;
        letter-spacing: -5px;
        white-space: nowrap;

        @media (max-width: $layout-breakpoint-small) {
          line-height: 60px;
          font-size: 5rem;
        }
        .hero-title-one {
          color: $green;
          @media (max-width: $layout-breakpoint-small) {
          }
        }
        .hero-title-span {
          color: $red;
          margin-right: 2rem;
          @media (max-width: $layout-breakpoint-small) {
            margin-right: 1rem;
          }
        }
        .hero-title-two {
          color: $yellow;
          @media (max-width: $layout-breakpoint-small) {
          }
        }
      }
    }

    .hero-cta {
      margin: 2rem 1rem;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .cta-text {
        color: $turquoise;
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 2px;
        white-space: nowrap;
        text-transform: uppercase;

        &:hover {
          color: $celeste;
          transition: 0.2s;
        }
      }
      .cta-icon {
        height: 24px;
        margin-left: 1rem;
      }
    }
  }
}
