.landing {
  width: 100%;
  position: relative;

  .main {
    width: 100%;
    position: absolute;
    z-index: 2;
  }

  .bg-one {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
  }

  .bg-two {
    position: absolute;
    top: 50rem;
    z-index: 1;
  }
}
