// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors

$yellow: #ffbd00;
$violet: #ff0054;
$indigo: #390099;

$black: #000022;
$coral: #a570ff;

$dark-two: #0f084b;
$dark-one: #0b0637;

// COLOR FROM ASSETS PANEL
$black: #000022;
$blue: #1f01b9;
$red: #ff312e;
$green: #23ce6b;
$yellow: #f5bb00;

$purple: #7d53de;

$azure: #eef8ff;
$celeste: #d1f5ff;
$malibu: #78e3fd;
$turquoise: #34f6f2;
$oxford: #00a1e4;
