// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors

$yellow: #ffbd00;
$violet: #ff0054;
$indigo: #390099;

$black: #020122;
$coral: #a570ff;

$dark-one: #080439;
$dark-two: #0e0660;
