// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #210124;
$primary: #fb4d3d;
$secondary: #590361;
$tertiary: #6cd4ff;
$alt: #fde12d;

$rose-one: #ffdad6;
$rose-two: #ffb6ad;
$rose-three: #ff9385;

$orchid-one: #7d3b84;
$orchid-two: #6b1f72;
$orchid-three: #590361;

$dark-one: #26262c;
$dark-two: #1c1c21;
$dark-three: #1d0120;

$red: #f71735;
$orange: #ff5400;
$yellow: #ddd92a;
$green: #17de6a;
$blue: #1a8fe3;
$purple: #a81adb;
$violet: #ff0054;
$black: #131316;
$white: #e9e9ed;

$coral: #b4adea;
